/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#info-box {
  background-color: white;
  border: 1px solid black;
  bottom: 20px;
  height: 30px;
  padding: 10px;
  position: absolute;
  left: 30px;
  font-weight: bolder;
  font-size: xx-large;
}

#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}

#legend h3 {
  margin-top: 0;
}

#legend img {
  vertical-align: middle;
}